html {
    font-size: 10px;
    font-family: "Roboto Mono", monospace;
    background-color: #FFA114;
    color: #E2E2E2;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #FFA114;
    text-shadow: 3px 3px 1px orangered;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    width: 800px;
    display: block;
    margin: 0 auto;
}

body {
    width: 800px;
    margin: 150px auto;
    background-color: #161612;
    padding: 0 20px 20px 20px;
    border: 0px solid darkorange;
}